@import "fonts";
@import "var";

@function rem($px) {
  $rems: $px / 16;
  @return #{$rems}rem;
}

// HEADER
.header {
    height: 91px;
    background-color: #888;
}

.g-gallery,
.g-task-list {
    height: 325px;
}

.wrapper {
    max-width: 997px;
    padding: 0 10px;
    margin: 0 auto;
    font-size: rem(12);
}

.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

aside {
    width: 32%;
}

main {
    width: 68%;
    padding: 0 10px 0 29px;
}

.g-team {
    background-color: $gray-98;
    border: 1px solid #ededed;

    header {
        padding: 10px 10px 5px;
    }

    mark {
        color: $red;
    }
}

.g-team__form {
    font-size: rem(14);
    line-height: 24px;

    input {
        width: 83px;
        padding: 0 9px;
    }

    sup {
        font-size: rem(10);
        line-height: 14px;
    }
}

.g-team__body {
    padding: 0 2px 0 0;
}

.g-team-list {
    height: 175px;
    padding: 0 5px 0 10px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        max-width: 10px;
        background-color: #ededed;
    }

    &::-webkit-scrollbar-thumb {
        width: 8px;
        background-color: $blue;
        border: solid 2px #ededed;
        border-radius: 5px;
    }

    .g-team-list__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 10px 5px 10px 30px;
        border-bottom: solid 1px #ededed;

        &::before {
            content: url('../images/userpic.png');
            position: absolute;
            top: 5px;
            left: 0;
            display: block;
        }
    }
}

.g-hours-list {
    display: flex;
    font-size: 11px;

    li {
        margin-left: 4px;
        font-weight: 700;

        &:first-child {
            margin-left: 0;
        }
    }

    mark {
        display: block;
        font-weight: 700;
        padding: 0 4px;
        border-left: solid 1px $gray-80;
        border-right: solid 1px $gray-80;
    }
}

.g-tooltip {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    font-size: rem(10);
    line-height: 14px;
    color: $gray-33;
    text-align: center;
    vertical-align: top;
    cursor: default;
    background-color: $gray-80;
    border-radius: 10px;
}

.g-team-list__item.active span {
    font-weight: 700;
}

// POKER BLOCK
.g-formula {
    color: $black;

    mark {
        color: $red;
    }
}

.g-poker__header {
    margin-bottom: 12px;
    font-size: rem(16);
    font-weight: 500;
    line-height: 31px;
    color: $gray-50;
    text-align: center;
    vertical-align: top;
}

.g-poker-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;

    &__item {
        padding: 10px 10px 7px;

        &:hover {
            @extend .g-poker-list__item.active;
            cursor: pointer;
        }

        &.active {
            background-color: #fae716;
            box-shadow: inset 0 0 60px rgba(0, 0, 0, .3);
        }

        img {
            display: block;
            vertical-align: top;
            box-shadow: 3px 4px 5px rgba(0, 0, 0, .3);
        }
    }

    &__username {
        display: block;
        padding-top: 7px;
        text-align: center;
    }
}

.g-poker__footer {
    text-align: center;
}

// FOOTER
footer {
    position: relative;
    display: flex;
    padding: 15px 0 11px;
}

// фон футера для переноса на grid
// footer::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     right: -100%;
//     bottom: 0;
//     left: -100%;
//     z-index: -1;
//     background-color: #fafafa;
//     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
// }

.g-controls {
    display: flex;
    color: $gray-98;

    & .active {
        background-color: #054a8d;
    }

    button {
        width: 40px;
        margin-right: 5px;
        padding: 9px 0 11px 0;
        background-color: #5086a2;
        border-radius: 3px;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        text-shadow: 0 0;

        &:hover {
            opacity: .85;
        }

        &:last-child {
            margin-right: 0;
            background-color: $gray-25;
        }
    }

    input {
        @extend button;
        height: initial;
        padding: 2px;
        border: 0;
        outline: 0;

        &:hover {
            opacity: .85;
        }

        &::placeholder {
            color: $gray-98;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        &[type='number'] {
            -moz-appearance: textfield;
        }
    }
}

.g-controls__btn-holder {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    button {
        width: 41.5%;
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }
    }
}
