@import "fonts";
@import "var";
@import "g-team";
@import "g-poker";
@import "g-formula";

@function rem($px) {
  $rems: $px / 16;
  @return #{$rems}rem;
}

body {
    font-size: rem(12);
}

// HEADER
.header {
    height: 91px;
    background: #888;
}

.g-gallery,
.g-task-list {
    // height: 325px;
}

.wrapper {
    // max-width: 997px;
    // padding: 0 10px;
    // margin: 0 auto;
}

// .content {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 18px;
// }

aside {
    // width: 32%;
}

main {
    // width: 68%;
    // padding: 0 10px 0 29px;
}

// FOOTER
footer {
    // position: relative;
    display: flex;
    padding: 15px 0 11px;
}
