@import 'fonts';
@import 'var';
@import 'g-grid';
@import "g-task-pagination";
@import "g-task-gallery";
@import 'g-team';
@import 'g-poker';
@import 'g-formula';

body {
    font-size: rem(12);
}

.header {
    height: 91px;
    background: #888;
}

.wrapper {
    max-width: 1016px;
    padding: 20px;
    margin: 0 auto;
}

.g-grid__footer {
    display: flex;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        right: 0;
        left: 0;
        padding: 42px 0;
        background: $gray-98;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    }
}
