@import 'fonts';
@import 'var';
@import 'g-main';
@import "g-task-pagination";
@import "g-task-gallery";
@import 'g-team';
@import 'g-poker';
@import 'g-formula';

body {
    font-size: rem(12);
}

.header {
    height: 91px;
    background: #888;
}

.g-main {
    max-width: 1016px;
    padding: 20px 20px 0;
    margin: 0 auto;
}
