.grid-out {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 3fr 3fr 1fr;
    /*grid-gap: 10px;*/
    /*border: solid 2px red;*/
    height: calc(100vh - 70px);
    background: #eee;
    gr
}

.grid-in {
    border: dotted 1px blue;
}

.last {
    grid-column: 1 / span 2;
}
